<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bẩn</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2023 <a href="~/">Minh Tâm Shop</a>.</strong> All rights
    reserved.
</footer>
